* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  --color-red: rgb(175, 0, 0);
  --color-green: rgb(29, 143, 59);
}

html, body {
  margin: 0;
  padding: 0;
}

.main-header {
  padding: 1rem;
  background-color: black;
  color: white;
}

.main-nav {
  display: flex;
  text-decoration: none;
}

.big-brand-name {
  font-size: 50px;
}

.brand-name {
  margin: 0;
  font-weight: bold;
  color: var(--color-red);
}

.nav ul {
  margin: 0;
  align-self: center;
}

.nav li {
  display: inline;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-green);
  font-weight: bold;
  align-items: center;
}

.brand-name:hover, .nav li:hover {
  color:white;
  cursor:pointer;
}