.dark-message-container {
  display: none;
  flex-direction: column;
  position: fixed;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1rem;
  color: #ddd;
  background-color: #202124;
  border-radius: 1rem;
}

.action-container {
  top: 40%;
  left: 30%;
  z-index: 1000;
  min-height: 10%;
  max-height: 20%;
  width: 40%;
}

.action-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.action-btn {
  padding: 0;
  border: none;
  color: var(--color-dialog);
  background-color: var(--color-darkgrey);
}

.action-confirmation-btn {
  margin-right: 5%;
}

.action-cancel-btn {
  margin-left: 5%;
}

.notification-container {
  display: flex;
  z-index: 999;
  left: 2rem;
  bottom: 2rem;
  max-width: 50%;
  min-width: 10%;
  min-height: 40px;
}

.notification-fade-out {
  animation: fadeOut 2s ease-in forwards;
  animation-delay: 8s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% {opacity: 0; }
}

.notification-btn {
  padding: 0;
  margin-top: 1rem;
  text-align: right;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-dialog);
  background-color: var(--color-darkgrey);
  border: none;
}