.main-section {
  margin: 3rem 10rem 3rem 10rem;
}

.overview-header-row {
  display: flex;
  align-items: center;
}

.overview-row {
  display: flex;
  flex-grow: 1;
  margin-top: 1rem;
}

.overview-header {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: .3rem solid darkgrey;
  border-radius: 10%;
  padding-bottom: .75rem;
}

.overview-column {
  color: black;
  margin-left: 1rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overview-column:first-child {
  padding-left: 0;
}

.overview-product {
  width: 25%;
}

.overview-serving {
  width: 15%;
}

.overview-time {
  width: 15%;
}

.overview-food {
  width: 15%;
}

.overview-refil {
  width: 15%;
}

.overview-link {
  width: 15%;
}