.overview-section {
  margin: 3rem 5rem 3rem 5rem;
}

.overview-header-row {
  display: flex;
  align-items: center;
}

.overview-row {
  display: flex;
  flex-grow: 1;
  margin-top: 1rem;
}

.overview-header {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: .3rem solid darkgrey;
  border-radius: 10%;
  padding-bottom: .75rem;
}

.overview-column {
  color: black;
  margin-left: 1%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overview-id {
  display: none;
}

.overview-nutrient {
  margin-left: 0;
  width: 20%;
}

.overview-dosage {
  width: 10%;
}

.overview-serving {
  width: 15%;
}

.overview-time {
  width: 10%;
}

.overview-food {
  width: 15%;
}

.overview-refil {
  width: 10%;
}

.overview-link {
  width: 14%;
}

.overview-nutrient-page {
  cursor: pointer;
  text-decoration: underline;
}

.overview-nutrient-page:hover {
  color: var(--color-lightblue);
}

.overview-duplicate-item {
  position: absolute;
  height: 1.2rem;
  vertical-align: middle;
  z-index: 998;
}

.overview-duplicate-item:hover {
  cursor: pointer;
}

.overview-link:not(.overview-header) {
  cursor: pointer;
  text-decoration: underline;
}

.overview-link:not(.overview-header):hover {
  color: var(--color-lightblue);
}

.overview-new-item {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.file-load, .file-save {
  display: none;
}