.supplement-section {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  row-gap: 2rem;
  margin: 2rem 10rem 2rem 10rem;
}

.container {
  display: flex;
  justify-content: center;
}

.container-header {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: .3rem solid var(--color-silver);
  border-radius: 10%;
  padding-bottom: 0.5rem;
}

.name-container {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  width: 30%;
  justify-self: center;
}

.scientific-container {
  grid-row: span 2;
}

.buttons-container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.supplement-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: none;
}

.supplement-name:focus {
  background-color: #EEEEEE;
}

.supplement-row {
  display: grid;
  grid-template-columns: 40% 55%;
  column-gap: 5%;
  justify-items: stretch;
  margin-top: 1rem;
}

.btn-confirm, .btn-cancel, .btn-delete {
  min-width: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.error-message {
  opacity: 0;
  background-color: var(--color-lightred);
  color: var(--color-red);
  padding: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
  transition: opacity 0.75s ease-in-out;
}