<!DOCTYPE html>

<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	  
  <head>
    <title>Health Awareness | Supplement Overview</title>
    <meta name="description" content="Your health improves if your awareness improves">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" th:href="@{/stylesheets/main.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/overview.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/dialog.css}"> 
    <script type="module" th:src="@{/scripts/overview.js}" defer></script>
  </head>
  
  <body>
    <header class="action-background main-header">
      <nav class="nav main-nav">
        <h1 class="brand-name big-brand-name">Health Awareness</h1>
        <ul>
          <li>
            <a target="_blank" href="https://www.nhs.uk/conditions/vitamins-and-minerals">NHS</a>
          </li>
          <li>
            <a target="_blank" href="https://www.healthline.com/nutrition/vitamins-and-supplements">Healthline</a>
          </li>
          <li>
            <label for="file-load">Load</label>
            <input class="file-load" type="file" name="file-load" id="file-load">
          </li>
          <li class="file-save">
          	Save
          </li>
          <li>
          	<a class="data-reset"
          		 th:href="@{/supplements/reset}">
          		 	Reset
          	</a>
          </li>
          <li>
          	<label for="logout">Logout</label>
						<form class="logout-form" action="#" th:action="@{/logout}" method="POST">
							<input class="logout" type="submit" name="logout" id="logout" value="Logout"/>
						</form>
		  		</li>
        </ul>
      </nav>
    </header>
    <div class="dark-message-container action-container">
      <div class="action-message"></div>
      <div class="action-btn-container">
        <button class="btn action-btn action-confirmation-btn">Confirm</button>
        <button class="btn action-btn action-cancel-btn">Cancel</button>
      </div>
    </div>
    <section class="action-background overview-section">
      <div class="overview-header-row overview-row">
        <span class="overview-nutrient overview-header overview-column">Nutrient</span>
        <span class="overview-dosage overview-header overview-column">Dosage</span>
        <span class="overview-serving overview-header overview-column">Servings per day</span>
        <span class="overview-time overview-header overview-column">Time to take</span>
        <span class="overview-food overview-header overview-column">Relation with food</span>
        <span class="overview-refil overview-header overview-column">Refil date</span>
        <span class="overview-link overview-header overview-column">Link</span>
      </div>
      <div class="overview-items">
      	<div class="overview-row" th:each="supplement: ${supplementList}">
      		<span class="overview-id" th:text="${supplement.id}"></span>
      		<div class="overview-nutrient overview-column">
      			<span class="overview-nutrient-page" th:text="${supplement.name}"></span>
      			<div class="page-toolbox">
          			<img class="page-tool duplicate-item" th:src="@{/images/duplicate.png}" alt="duplicate">
          			<a class="page-tool" th:href="@{'/supplements/delete/'+${supplement.id}}">
          				<img class="page-tool delete-item" th:src="@{/images/delete.png}" alt="delete">
          			</a>
        		</div>
      		</div>
      		<span class="overview-dosage overview-column" th:text="${supplement.product.amount}"></span>
      		<span class="overview-serving overview-column" th:text="${supplement.personal.nrServings}"></span>
      		<span class="overview-time overview-column" th:text="${supplement.personal.time}"></span>
      		<span class="overview-food overview-column" th:text="${supplement.nutrient.time}"></span>
      		<span class="overview-refil overview-column" th:text="${supplement.personal.refil}"></span>
      		<a target="_blank" class="overview-link overview-column" th:href="${supplement.product.link}" th:text="${supplement.product.link}"></a>
      	</div>	
      </div>
      <div class="overview-new-item">
        <button class="form-element btn btn-round btn-color btn-new-item" type="button">Add new supplement</button>
      </div>
    </section>
  </body>
</html>